<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          <img ng-show="toggle" class="img-responsive" src="img/logo.png" style="width: 10em; padding: 0.5em">
          <span ng-hide="toggle" class="menu-icon glyphicon glyphicon-transfer" style="padding-left: 1em"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list" >
        <a href="#/users">Usuarios <span class="menu-icon fa fa-users"></span></a>
      </li>
      <li class="sidebar-list" >
        <a href="#/talleres">Talleres <span class="menu-icon fa fa-car"></span></a>
      </li>
      <li class="sidebar-list" >
        <a href="#/solicitudesDeServicio">S. De Servicio <span class="menu-icon fa fa-car"></span></a>
      </li>
      <li class="sidebar-list" >
        <a href="#/solicitudesDeCotizacion">S. De Cotizacion <span class="menu-icon fa fa-car"></span></a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="https://github.com/damianwajser" target="_blank">
          Github
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/damianwajser" target="_blank">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#">
          Support
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown" uib-dropdown>
              <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                <img src="{{session.avatar}}">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  {{session.name}}
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Profile
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Logout
                  </a>
                </li>
              </ul>
            </div>
            <div class="item dropdown" uib-dropdown>
             <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notifications
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Server Down!</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              {{title}}
            </div>
            <div class="breadcrumb-links">
              {{route}}
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Main Content -->
      <div ui-view></div>

    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
